<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" (click)="openSidebar()">BrainHubs</a>
            </div>
        </div>
    </nav>

    <bh-sidebar [isOpen]="isSidebarOpen" (onOverlayClick)="closeSidebar()">
        <h1>Категории</h1>
        <bh-categories-list [categories]="categories"></bh-categories-list>
    </bh-sidebar>

    <router-outlet></router-outlet>
</div>