.bh-detail{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    --allign-center-text:center;
}
.bh-header{
    margin-top: 64px;
    text-align: var(--allign-center-text);
    font-size: xx-large;
}
.bh-image{
    text-align: var(--allign-center-text);
    margin: 10px;
    margin-bottom: 30px;
}
.bh-text{
    font-size: x-large;
}