<div *ngIf="news" class="bh-detail">
    <!--<p><button (click)="goBack()" class="w3-btn w3-light-grey">Вернутся к новостям</button></p>-->
    <h1 class="bh-header">{{news.Header}}</h1>
    <div class="bh-image">
        <img src="{{news.ImageUrl}}">
    </div>
    <div class="bh-text">
        <span [innerHTML]="news.Text"></span>
    </div>
    <div class="bh-list-reference-news">
        <h1>Может вам интересно</h1>
        <hr class="bh-line">
        <div class="bh-reference-news" *ngFor="let item of listReferenceNewsId" (click)="getLinkReferenceNews(item)">
            {{getHeaderReferenceNews(item)}}
        </div>
    </div>
</div>