<div *ngIf="news" class="bh-detail">
    <!--<p></p>-->
    <h1 class="bh-header">{{news.Header}}</h1>
    <button (click)="goBack()" class="btn btn-default">Вернутся к новостям</button>
    <div class="bh-image">
        <img src="{{news.ImageUrl}}">
    </div>
    <div class="bh-text">
        <span [innerHTML]="news.Text"></span>
    </div>
    <div class="bh-list-reference-news">
        <h1>Может вам интересно</h1>
        <hr class="bh-line">
        <div class="bh-reference-news" *ngFor="let item of listReferenceNewsId" (click)="getLinkReferenceNews(item)">
            <a>{{getHeaderReferenceNews(item)}}</a>
        </div>
    </div>
</div>