bh-dashboard {
    display: block;
}

.bh-dashboard {
    display: flex;
    flex-wrap: wrap;
    top: 51px;
    position: relative;
    justify-content: space-around;
}

.bh-dashboard__component{
    flex: 0 0 300px;
    margin-top: 64px;
    margin-right: 20px; 
    margin-left: 20px; 
}
