<div class="bh-dasboard w3-container">
    <h3>Последние новости</h3>
    <div *ngFor="let news of newses">
        <!--Card!-->
        <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
                <h3>{{news.Header}} </h3>
            </header>
            <div class="w3-container">
                <p>Категориия: {{news.Category}}</p>
                <p>Ключевые слова: {{news.Keywords}}</p>
                <hr>
                <img src="{{news.ImageUrl}}" class="w3-left w3-circle w3-margin-right"
                    style="width:150px">
                <p>{{news.Text}}</p><br>
            </div>
            <!--<div *ngFor="let news of newses" (click)="gotoDetail(news)" class="w3-panel w3-card-4">-->
            <!--<div class="module news">
                <h4>{{news.name}}</h4>
            </div>-->
            <button (click)="gotoDetail(news)" class="w3-btn-block w3-dark-grey">Подробнее</button>
            <!--</div>-->
        </div>
        <br> <br>
    </div>
</div>